body {
    display: flex;
    align-items: center;
    background-color: #52D3D8;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100vh;
}

.card{
    background-color: #3887BE;
    border-radius: 24px;
    padding: 20px;
}